@import "../../../assets/style-elements.scss";

.button {
    padding: 8px 15px;
    background-color: $main-color;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &:active {
        background-color: white;
        color: $main-color;
    }
}
