@import "../../assets/style-elements.scss";

.container {
    position: relative;

    .form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .input-form {
        width: 250px;
        height: 38px;
        padding: 12px 24px;
        border: 1px solid #c7d4d9;
        border-radius: $border-radius;
        font-size: 16px;
        transition: all 500ms;

        &:focus {
            outline: none;
        }
    }

    .button-style {
        background-color: $main-color;
        font-weight: bold;
        color: white;
        padding: 8px 15px;
        border: none;
        border-radius: 7px;
        box-shadow: $box-shadow;
        transition: all 50ms;
        cursor: pointer;
        transform: scale(0.9);

        &.cancel-btn {
            background-color: white;
            color: $main-color;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }
    }

    .success {
        color: green;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        left: 24px;
    }

    .error {
        position: absolute;
        left: 24px;
        font-size: 12px;
        color: red;
    }
}
