.board-page {
    max-width: 1400px;
    margin: 30px;

    .title-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 50px;
        width: 99%;
    }

    .board-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 40px;
        width: 100%;
    }

    .button-style {
        float: right;
    }
}
