.board {
    height: 100px;
    width: 180px;
    padding: 50px 80px;
    border-radius: 8px;
    border: 1px solid grey;
    position: relative;
    background-color: rgba($color: lightblue, $alpha: 0.4);
    cursor: pointer;
    margin: 15px 10px;

    &:active {
        background-color: lighten($color: #4169e1, $amount: 1%);
        color: white;
    }

    h2 {
        position: absolute;
        top: 0;
        left: 5px;
    }

    h3 {
        position: absolute;
        top: 50%;
        left: 5px;
    }

    p {
        position: absolute;
        bottom: 0;
        right: 5px;
    }
}
